@font-face {
    font-family: 'RampartOne';
    src: url(ReenieBeanie-Regular.ttf);
}

* {
    margin: 0;

}


/* --nav ---------------------------------------*/
/*
#navContainer {
    text-decoration: none;
    float: left;
}

Get rid of the display none later ---------
.navText {
    display: none;
    text-decoration: none;
    color: #524f42;
    list-style-type: none;
}
*/

#navColor {
    position: fixed;
    background: #FFEACC;
    top: 0px;
    left: 0vh;
    width: 99vh;
    height: 8vh;
    z-index: 1;
}

#titleCard {
    position: fixed;
    width: 19vh;
    height: 14vh;
    z-index: 2;
}

#dropdownMenu {
    position: fixed;
    top: 1vh;
    right: 2vh;
    transform: scaleX(-1);
    width: 6vh;
    height: 6vh;
    z-index: 2;
}

/*--Hero Background---------------------------------------*/

#cottageBackground {
    margin-top: -2vh;
    width: 100%;
    height: 100vh;
}

#heroHeaderText {
    position: absolute;
    top: 25vh;
    left: 1vh;
    text-align: center;
    font-size: 8em;
    font-family: RampartOne;
    color: white;
}

#downArrow {
    position: absolute;
    top: 78vh;
    left: 22vh;
    width: 5vh;
    height: 5vh;
    animation: updown 2s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}


/*--What I can do section----------------------------------*/
#canDo {
    margin-top: 10vh;
    width: 100%;
    height: 50%;
}

/*--About Me-----------------------------------------------*/

#portrait {
    margin-top: 5vh;
    width: 70%;
    height: 70%;
}

#aboutMeContainer {
    position: absolute;
    border-radius: 15px;
    left: 53%;
    top: 165vh;
    height: 10em;
    width: 35%;
    padding: 2vh;
    background-color: rgb(255, 247, 239);
}

#aboutMeHeader {
    font-family: consolas;
    font-size: 1em;
    color: #372f26;
}

#aboutMeText {
    font-family: consolas;
    font-size: 0.6em;
    color: #372f26;
    padding: 1vh;
}

#aboutMeContactBtn {
    background-color: #827c5c;
    font-family: consolas;
    font-size: 0.7em;
    height: 4vh;
    width: 12vh;
    color: #ffffff;
    float: right;
    padding: 0.5vh;
    border-radius: 2vh;
}

/*--Project Section-----------------------------------------------*/

#projectHeader {
    margin-top: 10vh;
    margin-left: 5vh;
    height: 20%;
    width: 80%;
}

#projectCard {
    height: 60%;
    width: 80%;
    margin-top: 10vh;
    margin-left: 5vh;
}
