@font-face {
    font-family: 'RampartOne';
    src: url(ReenieBeanie-Regular.ttf);
}

* {
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

#backgroundDimmer {
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(72, 75, 66);
    opacity: 0.9;
    z-index: 2;
}

/* --preloader ---------------------------------------*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white url("pictures/reloadCat.gif") no-repeat center;
    background-size: 50%;
    z-index: 100;
}

/* --nav ---------------------------------------*/

#navContainer {
    position: fixed;
    background: #ffffff;
    padding-top: 6vh;
    height: 15em;
    width: 100%;
    float: left;
    z-index: 1;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;

}

#navColor {
    position: fixed;
    background: #FFEACC;
    top: 0px;
    left: 0vh;
    width: 100%;
    height: 7vh;
    z-index: 2;
}

#titleCard {
    position: fixed;
    width: 16vh;
    height: 11vh;
    z-index: 3;
}

/* Below is the dropdown menu*/

#dropDownBtn {
    position: fixed;
    top: 1vh;
    right: 2vh;
    transform: scaleX(-1);
    width: 5vh;
    height: 5vh;
    z-index: 3;
}

#exitBtn {
    position: fixed;
    top: 1vh;
    right: 2vh;
    width: 5vh;
    height: 5vh;
    z-index: 3;
}

.navText {
    list-style: none;
    font-family: consolas;
    font-size: 1em;
    display: block;
    color: #524f42;
    list-style-type: none;
    padding: 2vh;
    width: 100%;
    height: 100%;
}



.gone {
    display: none;
}

.fadeOut {
    opacity: 0;
    transform: translateY(-10%);

}

.fadeIn {
    opacity: 1;
    transform: translateY(10%);

}

.noDisplay {
    display: none;
}




/*--Hero Background---------------------------------------*/

#cottageBackground {
    margin-top: -2vh;
    width: 100%;
    height: 100vh;
}

#heroHeaderText {
    position: absolute;
    top: 25vh;
    left: auto;
    text-align: center;
    font-size: 8em;
    font-family: RampartOne;
    color: white;
}

#downArrow {
    position: absolute;
    top: 78vh;
    left: 45%;
    width: 5vh;
    height: 5vh;
    animation: updown 2s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}


/*--What I can do section----------------------------------*/
#canDo {
    scroll-margin-top: 12vh;
    margin-top: 10vh;
    width: 100%;
    height: 50%;
}

/*--About Me-----------------------------------------------*/

#portrait {
    margin-top: 5vh;
    width: 70%;
    height: 70%;
}

#aboutMeContainer {
    scroll-margin-top: 30vh;
    position: absolute;
    border-radius: 15px;
    left: 53%;
    top: 150vh;
    height: 10em;
    width: 35%;
    padding: 2vh;
    background-color: rgb(255, 247, 239);
}

#aboutMeHeader {
    font-family: consolas;
    font-size: 1em;
    color: #372f26;
}

#aboutMeText {
    font-family: consolas;
    font-size: 0.6em;
    color: #372f26;
    padding: 1vh;
}

#aboutMeContactBtn {
    background-color: #827c5c;
    font-family: consolas;
    font-size: 0.7em;
    height: 4vh;
    width: 12vh;
    color: #ffffff;
    float: right;
    padding: 0.5vh;
    border-radius: 2vh;
}

/*--Project Section-----------------------------------------------*/

#projectHeader {
    scroll-margin-top: 10vh;
    margin-top: 10vh;
    margin-left: 5vh;
    height: 20%;
    width: 80%;
}

.projectCard {
    height: 60%;
    width: 80%;
    margin-top: 5vh;
    margin-left: 5vh;
}

.projectInfoContainer {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 70%;
    height: 60vh;
    background-color: rgb(255, 247, 239);
    opacity: 0.9;
    border-radius: 15px;
    padding: 10%;
    z-index: 5;

}

.projectInfoHeader {
    font-family: consolas;
    font-size: 3.5em;
    color: #372f26;

}

.projectInfoText {
    margin-top: 1em;
    color: #372f26;
    font-family: consolas;
}

.swiperContainer {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 70%;
    height: 70%;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #141b14;
    background: rgba(50, 53, 44, 0.6);

}

.swiper .swiper-pagination-bullet-active {
    background: #141b14;
}

#closeProject1Btn {
    position: fixed;
    top: 26vh;
    right: 5vh;
    width: 12%;
    height: 5%;
    z-index: 6;
}
